<%= render :partial => 'invoice' %>
<div class="form-actions">
  <%= link_to 'Back', project_invoices_path(@invoice.project), :class => 'btn' %>
  <%= link_to 'Print PDF', project_invoice_path(@invoice.project,@invoice,:format=>:pdf), :class => 'btn btn-primary', :target => "_blank" %>
  <%= link_to 'Delete', project_invoice_path(@invoice.project,@invoice), :method => :delete, :class => 'btn btn-danger', :confirm => "Are you sure you want to delete this invoice?"%></td>
</div>
