<% if projects.count > 0 %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% projects.each do |project| %>
			<tr>
				<td><%= project[:name] %></td>
				<td><a class="btn btn-danger" href="/projects/delete/<%= project[:project_id] %>">Delete</a></td>
			</tr>
		  <% end %>
		</tbody>
	</table>
<% else %>	
	No Projects Found!
<% end %>
<div class="well">
	<h3>Add A New Project</h3>
	<form method="post" class="form-horizontal">
		<%= _text({:label=>"Project Name",:help=>"This is some help text.",:name=>"name"}) %>
		<textarea name="comments" placeholder="Comments"></textarea><br/>
		<button type="submit" class="btn">Create Project</button>
	</form>
</div>
