<h1>Clients<small style='padding-left: 10px;'><%= link_to 'New Client', new_client_path %></small></h1>
<br/>
<% @clients.each do |client| %>
  <div class='client span3'>
      <%= link_to client_path(client) do %>
        <%= image_tag client.picture %>
      <% end %><br/>
      <%= link_to client.name, client_path(client) %><br/>
  </div>
<% end %>
<div class='cb'/>
