<div class="page-header">
  <h1>New Project</h1>
</div>
<% if @current_user.clients.empty? %>
  <div class="alert alert-block alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading">Sorry!</h4>
    In order to create a project you must first create a client.
  </div>
<% else %>
  <%= render :partial => 'form' %>
<% end %>
